.review-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 450px;
    height: 250px;
    background: #2c2b3f;
    border-radius: 10px;
    padding: 10px;
}

.review-card .review-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #ffffff;
    font-weight: bold;
}

@media (max-width: 595px) {
    .review-card .review-header {
        align-items: flex-start;
        flex-direction: column;
        margin: 0px 5px;
        gap: 23px;
    }
}

.review-card .review-header .name-group {
    display: flex;
    align-items: center;
}

.review-card .review-header .name-group .info {
    display: flex;
    flex-direction: column;
}

.review-card .review-header .name-group .name {
    text-align: left;
}

.review-card .review-header .name-group .designation {
    margin: 0;
    font-size: .8rem;
    font-weight: 300;
    color: #8c8aa7;
    text-align: left;
}

.review-card .review-header .name-group .initials {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    margin-right: 12px;
    border-radius: 50%;
    background: #d56a6a;
    min-width: 48px;
    min-height: 48px;
}

.review-card .review-header .rating i {
    color: #f3d779;
}

.review-card .review-description {
    color: #ffffff;
    font-weight: 400;
    margin: 0px 45px;
    text-align: start;
    /* maximum line is 3 */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media (max-width: 595px) {
    .review-card .review-description {
        margin: 0px 5px;
    }
}

.review-card .review-details {
    display: flex;
    justify-content: space-between;
    margin: 0px 45px;
    align-items: center;
    color: #8c8aa7;
}

@media (max-width: 595px) {
    .review-card .review-details {
        margin: 0px 5px;
    }
}

.review-card .review-details .share-group {
    display: flex;
    align-items: center;
    padding: 8px;
    border: 1px solid #79f39d;
    border-radius: 5px;
    cursor: pointer;
    background: unset;
}

@media (max-width: 400px) {
    .review-card .review-details .share-group {
        border-radius: 50%;
    }
}

.review-card .review-details .share-group i {
    margin-right: 10px;
    color: #8c8aa7;
}

@media (max-width: 400px) {
    .review-card .review-details .share-group i {
        margin-right: 0px;
    }
}

.review-card .review-details .share-group>span {
    background: unset;
    border: unset;
    color: #8c8aa7;
}

@media (max-width: 400px) {
    .review-card .review-details .share-group>span {
        display: none;
    }
}