.review-element-container {
    /* width: 2px; */
    height: auto;
    display: flex;
    border: 5px solid black;
    border-radius: 15px;
    flex-direction: column;
  }
  
  .review-element-image-container {
    display: flex;
    align-items: center;
    background-color: #FF7F50;
  }
  
  .round-image {
    border-radius: 50%;
    width: 30px; /* set your desired image size */
    height: 30px;
  }
  
  .retext {
    margin-left: 10px; /* adjust the spacing between the image and the text */
  }
  
.paragraph-container{
    margin-top: auto; /* push the paragraph to the bottom */
    background-color: lightgrey;
    padding-top: 20px;
    text-align: left;
    /* margin-left: 2%; */
    min-height: 50px;
}

.paragraph-container p{
  margin-left: 15px;
  font-size: large;
  /* margin-top: 10px; */
}
