.element-container {
    display: flex;
    flex-direction: row;
    border: 2px solid #E5E7E9;
    height: 70%;
    width: 68%;
    margin-top: 3%;
    margin-left: 16%;
    justify-content: center;
    align-self: center;
    background-color: white
  }

  
.left-section {
    width: 70%;
}

.element-heading{
    margin-top: 5%;
}

.element-description{
    text-align: left;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 7%;
}

.right-section {
    width: 30%;
    background: #333;
}
  
.about-element-image{
    max-width: 100%;
    margin-top: 40%;
    height: auto;
}
  