.rating-select {
  display: flex;
  gap: 5px;
  font-size: 16px;
}

.rating-star {
  color: #f3d779;
  transition: color 0.2s;
  cursor: pointer;
}

.rating-star svg.star {
  width: 22px;
  height: 19px;
}

.filled {
  color: #f3d779;
}

.half-filled {
  color: #f3d779;
  position: relative;
  display: inline-block;
}

.half-filled:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
}