.initials {
    color: #222033;
}

.color1 {
    background: #b9fbc0;
}

.color2 {
    background: #98f5e1;
}

.color3 {
    background: #8eecf5;
}

.color4 {
    background: #90dbf4;
}

.color5 {
    background: #a3c4f3;
}

.color6 {
    background: #cfbaf0;
}

.color7 {
    background: #f1c0e8;
}

.color8 {
    background: #ffcfd2;
}

.color9 {
    background: #fde4cf;
}

.color10 {
    background: #fbf8cc;
}