body {
	background: #1d1c2d;
	font-family: "Mulish", sans-serif;
}

.review-feedback-main {
	position: absolute;
	top: 0;
	right: 0;
	width: calc(100vw - 50px);
	height: 100vh;
	overflow: scroll;
}

.review-feedback-main .card {
	width: 100%;
	height: 100%;
	background: #222033;
	border-radius: 10px;
	box-sizing: border-box;
	padding: 30px;
}

.review-feedback-main .card .reviews-list {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 20px;
	flex-wrap: wrap;
}