.body {
  font-family: var(--font2) !important;
}

.signup-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 100vh;
  border-radius: 0.25rem;
  padding: 2rem;
}

.signup-container> :first-child {
  margin-top: 2%;
}

.logo-image2 {
  width: 7%;
  margin-bottom: 3%;
}

.signup-form {
  display: flex;
  height: auto;
  width: 800px;
  background-color: #2C2B3F;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  padding: 40px;
  box-sizing: border-box;
  gap: 25px;
}

.signup-form h2 {
  color: white;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 3px;
  margin-bottom: 20px;
}


/* .signup-form :first-child {
  margin-top: 2%;
} */

.signup-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 40px;
}

.signup-row .signup-field {
  width: 47%;
  display: flex;
}

.signup-field label {
  display: block;
  margin-bottom: 0.5rem;
  text-align: left;
  font-family: var(--font2);
  font-weight: bold;
  font-size: large;
}

.signup-field input {
  width: 22rem;
  padding: 10px;
  border: 2px solid #E5E7E9;
  border-radius: 5px;
  font-size: 16px;
  color: black;
  font-family: var(--font3);
  background-color: #E5E7E9;
}

.signup-field input:focus {
  outline: none;
  border-color: #5b9dd9;
}

.signup-field .error {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

.radio-options-container {
  display: flex;
}

.radio-options-container label {
  margin-right: 1rem;
}

.radio-options-container input[type="radio"] {
  margin-right: 0.3rem;
}

button[type="submit"] {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #6dad64;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 3px;
  font-family: inherit;
  margin: unset;
  width: 220px;
  height: 42px;
  margin-top: 15px;
}

.last-line button[type="submit"]:hover {
  background-color: #5e9c55;
}

.signup-radio-section {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex-direction: column;
  margin-top: 20px;
}

.signup-form h2.radio-heading {
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: unset;
}